# Gathering data

#### Import library

In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from requests import get
from zipfile import ZipFile
from io import StringIO, BytesIO
%matplotlib inline

#### downloading main csv

In [113]:
csv = get('https://s3.amazonaws.com/baywheels-data/2017-fordgobike-tripdata.csv')
csv

if the response is 200 that means the file is donwload and is in memory

In [114]:
df = pd.read_csv(StringIO(csv.content.decode('utf-8')))
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female

In [115]:
df.shape

(519700, 15)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null object
end_time                   519700 non-null object
start_station_id           519700 non-null int64
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null int64
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null int64
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: float64(5), int64(4), object(6)
memory usage: 59.5+ MB

In [117]:
df.isna().sum()

duration_sec                   0
start_time                     0
end_time                       0
start_station_id               0
start_station_name             0
start_station_latitude         0
start_station_longitude        0
end_station_id                 0
end_station_name               0
end_station_latitude           0
end_station_longitude          0
bike_id                        0
user_type                      0
member_birth_year          66541
member_gender              66462
dtype: int64

In [118]:
df.user_type.value_counts()

Subscriber    409230
Customer      110470
Name: user_type, dtype: int64

In [119]:
df.member_gender.value_counts()

Male      348318
Female     98621
Other       6299
Name: member_gender, dtype: int64

#### downloading zip files

In [120]:
links = ["https://s3.amazonaws.com/baywheels-data/201801-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201802-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201803-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201804-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201805-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201806-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201807-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201808-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201809-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201810-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201811-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201812-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201901-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201902-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201903-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201904-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201905-baywheels-tripdata.csv.zip"]

for link in links:
    zipfile = get(link)
    with ZipFile(BytesIO(zipfile.content)) as file:
        file.extractall()

#### reading csvs

In [121]:
paths = ['201802-fordgobike-tripdata.csv','201803-fordgobike-tripdata.csv'
        ,'201804-fordgobike-tripdata.csv','201805-fordgobike-tripdata.csv'
        ,'201806-fordgobike-tripdata.csv','201807-fordgobike-tripdata.csv'
        ,'201808-fordgobike-tripdata.csv','201809-fordgobike-tripdata.csv'
        ,'201810-fordgobike-tripdata.csv','201811-fordgobike-tripdata.csv'
        ,'201812-fordgobike-tripdata.csv','201901-fordgobike-tripdata.csv'
        ,'201902-fordgobike-tripdata.csv','201903-fordgobike-tripdata.csv'
        ,'201904-fordgobike-tripdata.csv','201905-baywheels-tripdata.csv']

df_extra = pd.read_csv('201801-fordgobike-tripdata.csv')
for path in paths:
    df_extra = df_extra.append(pd.read_csv(path))

In [122]:
df_extra.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [123]:
df_extra.shape

(2916788, 16)

In [124]:
df_extra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2916788 entries, 0 to 182162
Data columns (total 16 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           float64
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  object
member_birth_year          float64
member_gender              object
bike_share_for_all_trip    object
dtypes: float64(7), int64(2), object(7)
memory usage: 378.3+ MB

#### droped "bike_share_for_all_trip" becuse it was not in the  documentation

In [125]:
df_extra.drop(['bike_share_for_all_trip'],inplace=True,axis=1)

In [126]:
df_extra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2916788 entries, 0 to 182162
Data columns (total 15 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           float64
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  object
member_birth_year          float64
member_gender              object
dtypes: float64(7), int64(2), object(6)
memory usage: 356.1+ MB

In [127]:
df_extra.isna().sum()

duration_sec                    0
start_time                      0
end_time                        0
start_station_id            12516
start_station_name          12516
start_station_latitude          0
start_station_longitude         0
end_station_id              12516
end_station_name            12516
end_station_latitude            0
end_station_longitude           0
bike_id                         0
user_type                       0
member_birth_year          160094
member_gender              159737
dtype: int64

# Cleaning data

In [128]:
df_clean = df.copy()
df_extra_clean = df_extra.copy()

### df_clean

#### DEFINE: start_station_id, end_station_id and bike_id to strings

#### Code:

In [129]:
def change_to_string(df,fields):
    for field in fields:
        df[field] = df[field].astype(np.object)
    return df

In [130]:
df_clean = change_to_string (df_clean,['start_station_id', 'end_station_id','bike_id'])

#### Test:

In [131]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null object
end_time                   519700 non-null object
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 59.5+ MB

#### DEFINE: change start_time and end_time to timestamp

#### Code:

In [132]:
df_clean['start_time'] = df_clean['start_time'].astype('datetime64[ns]')
df_clean['end_time'] = df_clean['end_time'].astype('datetime64[ns]')

#### Test:

In [133]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null datetime64[ns]
end_time                   519700 non-null datetime64[ns]
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 59.5+ MB

#### DEFINE: user_type and member_gender should be categorical

#### code:

In [134]:
def change_to_category(df,fields):
    for field in fields:
        df[field] = df[field].astype('category')
    return df

In [135]:
df_clean = change_to_category (df_clean,['user_type', 'member_gender'])

#### Test:

In [136]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null datetime64[ns]
end_time                   519700 non-null datetime64[ns]
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null category
member_birth_year          453159 non-null float64
member_gender              453238 non-null category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 52.5+ MB

### df_extra_clean

#### DEFINE: start_station_id, end_station_id and bike_id to strings

#### Code:

In [137]:
df_extra_clean = change_to_string (df_extra_clean,['start_station_id', 'end_station_id','bike_id'])

#### Test:

In [138]:
df_extra_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2916788 entries, 0 to 182162
Data columns (total 15 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           object
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             object
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    object
user_type                  object
member_birth_year          float64
member_gender              object
dtypes: float64(5), int64(1), object(9)
memory usage: 356.1+ MB

#### DEFINE: change start_time and end_time to timestamp

#### Code:

In [139]:
df_extra_clean['start_time'] = df_extra_clean['start_time'].astype('datetime64[ns]')
df_extra_clean['end_time'] = df_extra_clean['end_time'].astype('datetime64[ns]')

#### Test:

In [140]:
df_extra_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2916788 entries, 0 to 182162
Data columns (total 15 columns):
duration_sec               int64
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start_station_id           object
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             object
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    object
user_type                  object
member_birth_year          float64
member_gender              object
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 356.1+ MB

#### DEFINE: user_type and member_gender should be categorical

#### Code:

In [141]:
df_extra_clean = change_to_category (df_extra_clean,['user_type', 'member_gender'])

#### Test:

In [108]:
df_extra_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 239384 to 255348
Data columns (total 15 columns):
duration_sec               18 non-null int64
start_time                 18 non-null datetime64[ns]
end_time                   18 non-null datetime64[ns]
start_station_id           0 non-null object
start_station_name         0 non-null object
start_station_latitude     18 non-null float64
start_station_longitude    18 non-null float64
end_station_id             0 non-null object
end_station_name           0 non-null object
end_station_latitude       18 non-null float64
end_station_longitude      18 non-null float64
bike_id                    18 non-null object
user_type                  18 non-null category
member_birth_year          18 non-null float64
member_gender              18 non-null category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 2.2+ KB

#### DEFINE: drop the rows with nulls start_station_id, start_station_name, end_station_id or end_station_name.

#### Code:

In [142]:
df_extra_clean[df_extra_clean['start_station_id'].isnull()]

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
168,5572,2018-06-30 20:58:31.855,2018-06-30 22:31:24.593,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4202,Customer,1989.0,Male
180,573,2018-06-30 22:12:27.511,2018-06-30 22:22:01.174,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.93,4095,Subscriber,1994.0,Male
197,850,2018-06-30 22:01:25.585,2018-06-30 22:15:36.151,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.95,4122,Customer,1990.0,Male
233,562,2018-06-30 21:52:05.118,2018-06-30 22:01:27.440,NaN,NaN,37.41,-121.94,NaN,NaN,37.42,-121.94,4184,Subscriber,1989.0,Male
260,819,2018-06-30 21:37:34.506,2018-06-30 21:51:13.729,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.96,4137,Customer,1985.0,Male
276,1176,2018-06-30 21:23:30.488,2018-06-30 21:43:07.331,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.94,4152,Customer,1961.0,Male
283,160,2018-06-30 21:37:50.926,2018-06-30 21:40:30.930,NaN,NaN,37.41,-121.94,NaN,NaN,37.42,-121.94,4105,Subscriber,1990.0,Female
352,7242,2018-06-30 19:19:19.560,2018-06-30 21:20:02.111,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4082,Customer,1990.0,Male
353,725,2018-06-30 21:06:44.358,2018-06-30 21:18:50.218,NaN,NaN,37.41,-121.96,NaN,NaN,37.41,-121.96,4156,Customer,1983.0,Male
354,694,2018-06-30 21:05:49.618,2018-06-30 21:17:24.267,NaN,NaN,37.40,-121.93,NaN,NaN,37.41,-121.94,4136,Customer,1987.0,Female
355,1608,2018-06-30 20:50:23.745,2018-06-30 21:17:12.639,NaN,NaN,37.40,-121.92,NaN,NaN,37.41,-121.94,4184,Customer,1986.0,Male
367,1444,2018-06-30 20:49:04.198,2018-06-30 21:13:08.898,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4135,Customer,1982.0,Male
377,3855,2018-06-30 20:06:14.458,2018-06-30 21:10:29.552,NaN,NaN,37.40,-121.93,NaN,NaN,37.40,-121.93,4171,Customer,1975.0,Male
385,3344,2018-06-30 20:12:39.047,2018-06-30 21:08:23.112,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4110,Customer,1988.0,Female
404,1700,2018-06-30 20:30:05.176,2018-06-30 20:58:25.796,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4202,Subscriber,1984.0,Male
467,462,2018-06-30 20:31:55.157,2018-06-30 20:39:38.037,NaN,NaN,37.41,-121.93,NaN,NaN,37.40,-121.92,4132,Subscriber,NaN,NaN
474,1320,2018-06-30 20:13:48.802,2018-06-30 20:35:49.622,NaN,NaN,37.40,-121.92,NaN,NaN,37.40,-121.92,4237,Subscriber,1988.0,Male
500,3780,2018-06-30 19:25:16.000,2018-06-30 20:28:16.073,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4202,Customer,1987.0,Female
502,328,2018-06-30 20:22:16.230,2018-06-30 20:27:44.272,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.94,4092,Subscriber,1989.0,Male
521,1737,2018-06-30 19:55:39.731,2018-06-30 20:24:36.788,NaN,NaN,37.40,-121.94,NaN,NaN,37.41,-121.94,4152,Customer,1994.0,Female
522,1626,2018-06-30 19:57:28.953,2018-06-30 20:24:35.463,NaN,NaN,37.40,-121.94,NaN,NaN,37.41,-121.94,4122,Customer,1994.0,Female
555,459,2018-06-30 20:06:35.738,2018-06-30 20:14:15.308,NaN,NaN,37.42,-121.96,NaN,NaN,37.41,-121.96,4251,Subscriber,1992.0,Other
557,1613,2018-06-30 19:47:02.090,2018-06-30 20:13:55.771,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.94,4092,Customer,1987.0,Male
604,1565,2018-06-30 19:34:00.397,2018-06-30 20:00:06.027,NaN,NaN,37.40,-121.93,NaN,NaN,37.41,-121.94,4137,Customer,1988.0,Male
614,1768,2018-06-30 19:28:06.804,2018-06-30 19:57:35.022,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4098,Customer,1976.0,Male
671,2003,2018-06-30 19:09:00.711,2018-06-30 19:42:24.686,NaN,NaN,37.40,-121.94,NaN,NaN,37.41,-121.94,4089,Customer,1991.0,Male
674,1878,2018-06-30 19:10:56.988,2018-06-30 19:42:15.409,NaN,NaN,37.40,-121.94,NaN,NaN,37.41,-121.94,4092,Customer,1989.0,Male
679,1655,2018-06-30 19:13:57.516,2018-06-30 19:41:33.248,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4194,Customer,1986.0,Male
727,1828,2018-06-30 19:01:40.239,2018-06-30 19:32:08.296,NaN,NaN,37.41,-121.94,NaN,NaN,37.40,-121.93,4137,Customer,1988.0,Male
729,81932,2018-06-29 20:46:13.931,2018-06-30 19:31:46.439,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4232,Subscriber,1992.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131384,633,2019-04-11 17:29:51.674,2019-04-11 17:40:25.075,NaN,NaN,37.39,-121.93,NaN,NaN,37.40,-121.93,4098,Subscriber,1983.0,Male
148369,432,2019-04-10 09:46:00.573,2019-04-10 09:53:12.958,NaN,NaN,37.40,-121.94,NaN,NaN,37.39,-121.93,4098,Subscriber,1986.0,Male
159974,601,2019-04-09 10:50:05.085,2019-04-09 11:00:06.574,NaN,NaN,37.41,-121.95,NaN,NaN,37.41,-121.95,4107,Subscriber,1992.0,Male
175807,108,2019-04-07 19:26:56.562,2019-04-07 19:28:44.991,NaN,NaN,37.40,-121.94,NaN,NaN,37.40,-121.94,4211,Customer,1987.0,Female
176448,1276,2019-04-07 17:56:20.550,2019-04-07 18:17:36.628,NaN,NaN,37.40,-121.93,NaN,NaN,37.40,-121.94,4211,Subscriber,1988.0,Male
200310,1041,2019-04-04 18:33:16.831,2019-04-04 18:50:37.871,NaN,NaN,37.36,-121.89,NaN,NaN,37.36,-121.89,4093,Customer,2001.0,Male
221529,1342,2019-04-02 19:08:43.691,2019-04-02 19:31:06.626,NaN,NaN,37.40,-121.93,NaN,NaN,37.40,-121.92,4211,Customer,1989.0,Male
222061,1132,2019-04-02 18:30:33.032,2019-04-02 18:49:25.434,NaN,NaN,37.41,-121.93,NaN,NaN,37.41,-121.94,4085,Customer,1994.0,Male
222458,1241,2019-04-02 18:05:53.093,2019-04-02 18:26:34.363,NaN,NaN,37.41,-121.95,NaN,NaN,37.41,-121.95,4107,Customer,1994.0,Male
224405,1403,2019-04-02 16:33:41.332,2019-04-02 16:57:04.470,NaN,NaN,37.40,-121.93,NaN,NaN,37.36,-121.89,4093,Customer,1962.0,Male
226208,681,2019-04-02 12:27:15.531,2019-04-02 12:38:36.932,NaN,NaN,37.39,-121.93,NaN,NaN,37.40,-121.93,4211,Subscriber,1986.0,Male
230020,4803,2019-04-01 19:03:07.473,2019-04-01 20:23:10.731,NaN,NaN,37.40,-121.93,NaN,NaN,37.40,-121.94,4270,Customer,1995.0,Male
232901,13460,2019-04-01 13:42:15.073,2019-04-01 17:26:35.895,NaN,NaN,37.41,-121.95,NaN,NaN,37.40,-121.94,4098,Customer,1991.0,Male
234606,229,2019-04-01 13:17:14.567,2019-04-01 13:21:03.941,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.94,4098,Customer,1991.0,Male
238139,647,2019-04-01 07:50:49.536,2019-04-01 08:01:37.242,NaN,NaN,37.40,-121.93,NaN,NaN,37.39,-121.93,4211,Subscriber,1983.0,Male
29190,846,2019-05-27 19:25:04.361,2019-05-27 19:39:10.557,NaN,NaN,37.41,-121.94,NaN,NaN,37.40,-121.92,4284,Subscriber,1995.0,Male
29279,1058,2019-05-27 18:53:49.380,2019-05-27 19:11:27.560,NaN,NaN,37.40,-121.92,NaN,NaN,37.41,-121.94,4284,Subscriber,1995.0,Male
30005,850,2019-05-27 16:10:58.164,2019-05-27 16:25:08.166,NaN,NaN,37.42,-121.95,NaN,NaN,37.40,-121.92,4284,Customer,1994.0,Male
30134,969,2019-05-27 15:41:27.262,2019-05-27 15:57:36.263,NaN,NaN,37.40,-121.93,NaN,NaN,37.42,-121.96,4284,Customer,1994.0,Male
109679,537,2019-05-12 17:04:49.466,2019-05-12 17:13:46.675,NaN,NaN,37.39,-121.93,NaN,NaN,37.39,-121.93,4106,Customer,1983.0,Other
127853,1239,2019-05-09 09:50:01.986,2019-05-09 10:10:41.783,NaN,NaN,37.39,-121.93,NaN,NaN,37.39,-121.93,4106,Customer,1988.0,Male
128632,1927,2019-05-09 08:37:08.867,2019-05-09 09:09:16.578,NaN,NaN,37.41,-121.96,NaN,NaN,37.39,-121.93,4106,Customer,1988.0,Male
132261,1254,2019-05-08 17:57:55.080,2019-05-08 18:18:49.085,NaN,NaN,37.38,-121.94,NaN,NaN,37.38,-121.94,4162,Customer,2000.0,Male
137960,594,2019-05-08 04:06:11.069,2019-05-08 04:16:05.769,NaN,NaN,37.41,-121.94,NaN,NaN,37.41,-121.96,4106,Subscriber,1999.0,Male
138026,731,2019-05-07 23:55:11.866,2019-05-08 00:07:22.886,NaN,NaN,37.41,-121.96,NaN,NaN,37.41,-121.94,4106,Subscriber,1999.0,Male
139863,606,2019-05-07 18:02:01.076,2019-05-07 18:12:07.386,NaN,NaN,37.42,-121.96,NaN,NaN,37.41,-121.96,4106,Subscriber,1999.0,Male
140736,484,2019-05-07 17:10:26.571,2019-05-07 17:18:31.271,NaN,NaN,37.41,-121.96,NaN,NaN,37.42,-121.95,4106,Subscriber,1999.0,Male
157253,1296,2019-05-04 16:08:22.279,2019-05-04 16:29:59.081,NaN,NaN,37.40,-121.94,NaN,NaN,37.41,-121.96,4106,Customer,1994.0,Male
157907,841,2019-05-04 14:00:20.333,2019-05-04 14:14:22.288,NaN,NaN,37.42,-121.96,NaN,NaN,37.40,-121.94,4106,Customer,2000.0,Female
158019,507,2019-05-04 13:41:19.273,2019-05-04 13:49:46.471,NaN,NaN,37.42,-121.96,NaN,NaN,37.42,-121.96,4106,Customer,2000.0,Female

In [143]:
df_extra_clean.drop(df_extra_clean[df_extra_clean['start_station_id'].isnull()].index, inplace = True)

#### Test:

In [144]:
df_extra_clean[df_extra_clean['start_station_id'].isnull()]

Empty DataFrame
Columns: [duration_sec, start_time, end_time, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bike_id, user_type, member_birth_year, member_gender]
Index: []

In [145]:
df_extra_clean.isna().sum()

duration_sec                    0
start_time                      0
end_time                        0
start_station_id                0
start_station_name              0
start_station_latitude          0
start_station_longitude         0
end_station_id                  0
end_station_name                0
end_station_latitude            0
end_station_longitude           0
bike_id                         0
user_type                       0
member_birth_year          150503
member_gender              150162
dtype: int64

In [147]:
df_extra_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2738678 entries, 3 to 182162
Data columns (total 15 columns):
duration_sec               int64
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start_station_id           object
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             object
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    object
user_type                  category
member_birth_year          float64
member_gender              category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 297.7+ MB

### join all data into one csv

In [151]:
df_clean.shape

(519700, 15)

In [152]:
df_extra_clean.shape

(2738678, 15)

In [148]:
df = df_clean.append(df_extra_clean)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3258378 entries, 0 to 182162
Data columns (total 15 columns):
duration_sec               int64
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start_station_id           object
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             object
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    object
user_type                  category
member_birth_year          float64
member_gender              category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 354.2+ MB

In [153]:
df.reset_index(inplace=True)

In [154]:
df.shape

(3258378, 16)

In [155]:
df.to_csv("master_data_frame.csv", sep=',', encoding='utf-8')

# Univariate Exploration and Bivariate Exploration

In [157]:
df = pd.read_csv("master_data_frame.csv")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.