# Gathering data

#### Import library

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from requests import get
from zipfile import ZipFile
from io import StringIO, BytesIO
%matplotlib inline

#### downloading main csv

In [13]:
csv = get('https://s3.amazonaws.com/baywheels-data/2017-fordgobike-tripdata.csv')
csv

if the response is 200 that means the file is donwload and is in memory

In [14]:
df = pd.read_csv(StringIO(csv.content.decode('utf-8')))
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female

In [15]:
df.shape

(519700, 15)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null object
end_time                   519700 non-null object
start_station_id           519700 non-null int64
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null int64
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null int64
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: float64(5), int64(4), object(6)
memory usage: 59.5+ MB

In [17]:
df.isna().sum()

duration_sec                   0
start_time                     0
end_time                       0
start_station_id               0
start_station_name             0
start_station_latitude         0
start_station_longitude        0
end_station_id                 0
end_station_name               0
end_station_latitude           0
end_station_longitude          0
bike_id                        0
user_type                      0
member_birth_year          66541
member_gender              66462
dtype: int64

In [18]:
df.user_type.value_counts()

Subscriber    409230
Customer      110470
Name: user_type, dtype: int64

In [19]:
df.member_gender.value_counts()

Male      348318
Female     98621
Other       6299
Name: member_gender, dtype: int64

#### downloading zip files

In [19]:
links = ["https://s3.amazonaws.com/baywheels-data/201801-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201802-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201803-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201804-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201805-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201806-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201807-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201808-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201809-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201810-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201811-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201812-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201901-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201902-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201903-fordgobike-tripdata.csv.zip","https://s3.amazonaws.com/baywheels-data/201904-fordgobike-tripdata.csv.zip"
        ,"https://s3.amazonaws.com/baywheels-data/201905-baywheels-tripdata.csv.zip"]

for link in links:
    zipfile = get(link)
    with ZipFile(BytesIO(zipfile.content)) as file:
        file.extractall()

#### reading csvs

In [21]:
paths = ['201802-fordgobike-tripdata.csv','201803-fordgobike-tripdata.csv'
        ,'201804-fordgobike-tripdata.csv','201805-fordgobike-tripdata.csv'
        ,'201806-fordgobike-tripdata.csv','201807-fordgobike-tripdata.csv'
        ,'201808-fordgobike-tripdata.csv','201809-fordgobike-tripdata.csv'
        ,'201810-fordgobike-tripdata.csv','201811-fordgobike-tripdata.csv'
        ,'201812-fordgobike-tripdata.csv','201901-fordgobike-tripdata.csv'
        ,'201902-fordgobike-tripdata.csv','201903-fordgobike-tripdata.csv'
        ,'201904-fordgobike-tripdata.csv','201905-baywheels-tripdata.csv']

df_extra = pd.read_csv('201801-fordgobike-tripdata.csv')
for path in paths:
    df_extra = df_extra.append(pd.read_csv(path))

In [22]:
df_extra.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [23]:
df_extra.shape

(2916788, 16)

In [24]:
df_extra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2916788 entries, 0 to 182162
Data columns (total 16 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           float64
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  object
member_birth_year          float64
member_gender              object
bike_share_for_all_trip    object
dtypes: float64(7), int64(2), object(7)
memory usage: 378.3+ MB

#### droped "bike_share_for_all_trip" becuse it was not in the  documentation

In [26]:
df_extra.drop(['bike_share_for_all_trip'],inplace=True,axis=1)

In [27]:
df_extra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2916788 entries, 0 to 182162
Data columns (total 15 columns):
duration_sec               int64
start_time                 object
end_time                   object
start_station_id           float64
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             float64
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  object
member_birth_year          float64
member_gender              object
dtypes: float64(7), int64(2), object(6)
memory usage: 436.1+ MB

In [30]:
df_extra.isna().sum()

duration_sec                    0
start_time                      0
end_time                        0
start_station_id            12516
start_station_name          12516
start_station_latitude          0
start_station_longitude         0
end_station_id              12516
end_station_name            12516
end_station_latitude            0
end_station_longitude           0
bike_id                         0
user_type                       0
member_birth_year          160094
member_gender              159737
dtype: int64

# Cleaning data

In [20]:
df_clean = df.copy()
df_extra_clean = df_extra.copy()

### df_clean

#### DEFINE: change start_station_id ,  end_station_id and bike_id to String

#### Code:

In [21]:
def change_to_string(df,fields):
    for field in fields:
        df[field] = df[field].astype(np.object)
    return df

In [22]:
df_clean = change_to_string (df_clean,['start_station_id', 'end_station_id','bike_id'])

#### Test:

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null object
end_time                   519700 non-null object
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: float64(5), int64(1), object(9)
memory usage: 59.5+ MB

#### DEFINE: change start_time and end_time to timestamp

#### Code:

In [24]:
df_clean['start_time'] = df_clean['start_time'].astype('datetime64[ns]')
df_clean['end_time'] = df_clean['end_time'].astype('datetime64[ns]')

#### Test:

In [25]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null datetime64[ns]
end_time                   519700 non-null datetime64[ns]
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null object
member_birth_year          453159 non-null float64
member_gender              453238 non-null object
dtypes: datetime64[ns](2), float64(5), int64(1), object(7)
memory usage: 59.5+ MB

#### DEFINE: user_type and member_gender should be categorical

#### code:

In [26]:
def change_to_category(df,fields):
    for field in fields:
        df[field] = df[field].astype('category')
    return df

In [27]:
df_clean = change_to_category (df_clean,['user_type', 'member_gender'])

#### Test:

In [28]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null datetime64[ns]
end_time                   519700 non-null datetime64[ns]
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null category
member_birth_year          453159 non-null float64
member_gender              453238 non-null category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 52.5+ MB

#### DEFINE: member_birth_year should be int64

#### Code:

In [32]:
df_clean['member_birth_year'] = df_clean['member_birth_year'].astype('int64',errors='ignore')

#### Test:

In [33]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
duration_sec               519700 non-null int64
start_time                 519700 non-null datetime64[ns]
end_time                   519700 non-null datetime64[ns]
start_station_id           519700 non-null object
start_station_name         519700 non-null object
start_station_latitude     519700 non-null float64
start_station_longitude    519700 non-null float64
end_station_id             519700 non-null object
end_station_name           519700 non-null object
end_station_latitude       519700 non-null float64
end_station_longitude      519700 non-null float64
bike_id                    519700 non-null object
user_type                  519700 non-null category
member_birth_year          453159 non-null float64
member_gender              453238 non-null category
dtypes: category(2), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 52.5+ MB

#### df_extra_clean